<template>
    <div>
        <h2 class="text-center">Services List</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CPU</th>
                    <th>Memory</th>
                    <th>DISK</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="service in services"
                    :key="service.id"
                    :class="{ active: activeService == service.id }"
                >
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.product.cpu }}</td>
                    <td>{{ service.product.memory }}MB</td>
                    <td>
                        {{ service.product.disk_type }}
                        {{ service.product.disk }}GB
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button
                                class="btn btn-primary"
                                @click="upgradeService(service)"
                                title="upgrade service"
                            >
                                &#8593;
                            </button>
                            <button
                                class="btn btn-primary"
                                @click="downgradeService(service)"
                                title="downgrade service"
                            >
                                &#8595;
                            </button>
                            <router-link
                                :to="{
                                    name: 'edit',
                                    params: { id: service.id }
                                }"
                                class="btn btn-success"
                                >Edit</router-link
                            >
                            <button
                                class="btn btn-danger"
                                @click="deleteService(service.id)"
                            >
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div
            v-if="action"
            class="active active-zone"
            @focusout="handleFocusOut"
            tabindex="0"
            ref="actionZone"
        >
            <hr />
            <h3>{{ action }}</h3>
            <div class="form-group">
                <label>Tariff</label>
                <select
                    class="form-control"
                    ref="actionSelect"
                    v-model="selectedTariff"
                    tabindex="0"
                >
                    <option
                        v-for="tariff in showTariffs"
                        :key="tariff.id"
                        :value="tariff.id"
                        >{{ tariff.name }} (CPU{{ tariff.cpu }},
                        {{ tariff.memory }}MB, {{ tariff.disk_type }}
                        {{ tariff.disk }}GB)</option
                    >
                </select>
            </div>
            <button
                type="submit"
                class="btn btn-primary"
                @click="finishAction()"
                :disabled="!selectedTariff"
                ref="actionButton"
            >
                {{ action }}
            </button>
        </div>
        <div v-if="actionErrors">
            <span class="errors">{{ actionErrors }}</span>
        </div>
    </div>
</template>

<script>
import { sortTariffs } from "./../helpers/sorter.js";
export default {
    data() {
        return {
            services: [],
            tariffs: [],
            showTariffs: [],
            action: "",
            activeService: null,
            selectedTariff: null,
            actionErrors: null
        };
    },
    created() {
        this.loadServices()
            .then(() => this.axios.get("http://localhost:8000/api/tariffs/"))
            .then(({ data: res }) => {
                if (res.success) {
                    this.tariffs = sortTariffs(res.data);
                }
            });
    },
    methods: {
        loadServices() {
            return this.axios
                .get("http://localhost:8000/api/services/")
                .then(({ data: res }) => {
                    if (res.success) {
                        this.services = res.data;
                    }
                });
        },
        deleteService(id) {
            this.actionErrors = null;
            this.axios
                .delete(`http://localhost:8000/api/services/delete/${id}`)
                .then(response => {
                    let i = this.services.map(data => data.id).indexOf(id);
                    this.services.splice(i, 1);
                });
        },
        upgradeService(service) {
            this.actionErrors = null;
            this.showTariffs = this.tariffs.filter(
                item => service.product.position < item.position
            );
            this.action = "upgrade";
            this.activeService = service.id;

            setTimeout(() => {
                this.$refs.actionZone?.focus();
            }, 10);
        },
        downgradeService(service) {
            this.actionErrors = null;
            this.showTariffs = this.tariffs.filter(
                item => service.product.position > item.position
            );
            this.action = "downgrade";
            this.activeService = service.id;
            setTimeout(() => {
                this.$refs.actionZone?.focus();
            }, 10);
        },
        finishAction() {
            this.actionErrors = null;
            if (!this.selectedTariff) {
                return;
            }

            if (this.action != "upgrade" && this.action != "downgrade") {
                return;
            }

            this.axios
                .post(
                    `http://localhost:8000/api/services/` +
                        this.action +
                        `/` +
                        this.activeService +
                        `/` +
                        this.selectedTariff
                )
                .then(({ data: res }) => {
                    if (res.success) {
                        this.action = null;
                        this.activeService = null;
                        this.loadServices();
                    }
                })
                .catch(err => {
                    const data = err.response?.data;
                    if (data) {
                        this.actionErrors = data.error;
                    }
                });
        },
        handleFocusOut($event) {
            if (
                $event.relatedTarget == this.$refs.actionSelect ||
                $event.relatedTarget == this.$refs.actionButton ||
                $event.relatedTarget == this.$refs.actionZone
            ) {
                return;
            }
            this.action = null;
            this.activeService = null;
            this.actionErrors = null;
        }
    }
};
</script>
<style lang="scss">
.active {
    background: rgba(#3490dc, 0.18);
}
.active-zone {
    padding: 8px 16px;
}
</style>
