<template>
    <div>
        <h3 class="text-center">Add Service</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addService">
                    <div class="form-group">
                        <label>Name</label>
                        <input
                            type="text"
                            class="form-control"
                            v-model="service.name"
                        />
                    </div>
                    <div class="form-group">
                        <label>Tariff</label>
                        <select
                            class="form-control"
                            v-model="service.product_id"
                        >
                            <option
                                v-for="tariff in tariffs"
                                :key="tariff.id"
                                :value="tariff.id"
                                >{{ tariff.name }} (CPU{{ tariff.cpu }},
                                {{ tariff.memory }}MB, {{ tariff.disk_type }}
                                {{ tariff.disk }}GB)</option
                            >
                        </select>
                    </div>
                    <div v-if="errors">
                        <span class="errors">{{errors}}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import {sortTariffs} from './../helpers/sorter.js';
export default {
    data() {
        return {
            service: {},
            tariffs: [],
            errors: null
        };
    },
    mounted() {
        this.axios
            .get("http://localhost:8000/api/tariffs")
            .then(({ data: response }) => {
                if (response.success) {
                    this.tariffs = sortTariffs(response.data);
                }
            })
            .catch(err => console.log(err))
            .finally(() => (this.loading = false));
    },
    methods: {
        addService() {
            this.errors = null;
            this.axios
                .post("http://localhost:8000/api/services/add", this.service)
                .then(({ data: response }) => {
                    if (response.success) {
                        this.$router.push({ name: "home" });
                    }
                })
                .catch(err => {
                    const data = err.response?.data;
                    if (data) {
                        this.errors = data.error;
                    }
                })
                .finally(() => (this.loading = false));
        }
    }
};
</script>

<style>
.errors{
    color: red;
    display: inline-block;
}
</style>
