<template>
    <div>
        <h3 class="text-center">Edit Service</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateService">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="service.name">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                service: {}
            }
        },
        created() {
            this.axios
                .get(`http://localhost:8000/api/services/${this.$route.params.id}`)
                .then(({data:res}) => {
                    if (res.success) {
                        this.service = res.data;
                    }
                });
        },
        methods: {
            updateService() {
                this.axios
                    .put(`http://localhost:8000/api/services/edit/${this.$route.params.id}`, this.service)
                    .then((res) => {
                        this.$router.push({ name: 'home' });
                    });
            }
        }
    }
</script>
